
{{#link-to 'why.cutting-edge-features' class="hero-container"}}
<div class="r1-100"></div>
<div class="overlay">
  <h2>Cutting Edge Features</h2>
</div>
{{/link-to}}
<div class="center-parent-lg">
  <div class="center-child-third"><h4>Single Page Applications</h4></div>
  <div class="center-child-third"><h4>Fastboot</h4></div>
  <div class="center-child-third"><h4>Containerized</h4></div>
  <div class="center-child-third"><h4>Modularity</h4></div>
  <div class="center-child-third"><h4>Responsive</h4></div>
  <div class="center-child-third"><h4>PAYE</h4></div>
  <div class="center-child-third"><h4>Animated Transitions</h4></div>
  <div class="center-child-third"><h4>Push Notifications</h4></div>
  <div class="center-child-third"><h4>Infinite Scroll</h4></div>
  <div class="center-child-third"><h4>Big Data Dashboard</h4></div>
  <div class="center-child-third"><h4>Guided SEO</h4></div>
  <div class="center-child-third"><h4>Campaigns</h4></div>
</div>
{{liquid-outlet}}
