<div class="parent">
  {{#link-to 'why.cutting-edge-features' class="hero-container"}}
  <div class="r2-100"></div>
  <div class="overlay">
    <h2>Cutting Edge Features</h2>
  </div>
  {{/link-to}}
</div>
{{liquid-outlet}}
