
{{#link-to 'store.index' class="full-width"}}
  <div class="black-250" data-logo-id="r4">
    {{fa-icon "shopping-cart"}}
    <h1 class="green">eCommerce Storefront</h1>
    <p>Our eCommerce platform easily enables you to begin selling products and services and take your customers through a full-checkout.  Quickly and securely.</p>
  </div>
{{/link-to}}
<!-- <h2>eWebdesign is a unified platform that brings all the latest cutting-edge features</h2> -->

{{liquid-outlet}}
