<section class="parent">
  <div class="child" >
    <img id="s1">
  </div>
  <div class="child">
    <img id="s2">
  </div>
  <div class="child">
    <img id="s3">
  </div>
  <div class="child">
    <img id="s4">

  </div>
  <div class="child">
    <img id="s5">
  </div>
  <div class="child">
    <img id="s6">
  </div>
  <div class="child">
    <img id="s7">
  </div>
  <div class="child">
    <img id="s8">
  </div>
  <div class="child">
    <img id="s9">
  </div>
</section>
