{{#link-to 'why' class="hero-container"}}
  <div class="r4" data-logo-id="r4"></div>
  <div class="overlay">
    <h1>eCommerce Storefront</h1>
  </div>
{{/link-to}}

<!-- <h2>eWebdesign is a unified platform that brings all the latest cutting-edge features</h2> -->

{{liquid-outlet}}
