
  {{#link-to 'platform.blog' class="full-width"}}
  <div class="gray-200" data-logo-id="r47">
    {{fa-icon "laptop"}}
    <h1 class="green">Blog</h1>
  </div>
  {{/link-to}}

<section class="parent">
  <div class="child whitebg"><h4>Features</h4><img class="blog-sm"/></div>
  <div class="child"><h4>SEO Guide</h4><h4>The Hopper</h4></div>
  <div class="child"><h4>Collaboration</h4></div>
</section>

{{liquid-outlet}}
<h4>
{{#link-to 'platform.calendar-events' class="hero-container"}}
  <button type="button" name="button">
    Calendar & Events
  </button>
{{/link-to}}
</h4>
