
{{#link-to 'platform.crm' class="full-width"}}
  <div class="gray-200" data-logo-id="r44">
    {{fa-icon "archive"}}
    <h1 class="green">CRM</h1>
  </div>
{{/link-to}}

<section class="parent">
  <div class="child whitebg"><img class="crm1"/></div>
  <div class="child"><h4>Create Organizations, Contacts, Tasks and Opportuntiies</h4></div>
  <div class="child"><h4>Link to VOIP Phone Stats</h4></div>
  <div class="child"></div>

  <div class="child whitebg"><h4>Develop a Sales Forecast</h4></div>
  <div class="child"><img class="crm2"/></div>
  <div class="child"></div>
  <div class="child"></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'platform.profile' class="hero-container"}}
  <button type="button" name="button">
    Profile
  </button>
{{/link-to}}
</h4>
