
{{#link-to 'platform' class="full-width"}}
  <div class="black" data-logo-id="r3">
    {{fa-icon "sitemap"}}
    <h1 class="green">Unified Platform</h1>
    <p>All The Reasons Why</p>
  </div>
{{/link-to}}
{{liquid-outlet}}
