
{{#link-to 'platform' class="full-width"}}
  <div class="black" data-logo-id="r2">
    {{fa-icon "sitemap"}}
    <h1 class="green">Unified Platform</h1>
    <p>Some Text Here</p>
  </div>
{{/link-to}}
{{liquid-outlet}}
