{{#link-to 'platform' class="hero-container"}}
  <div class="bg2" data-logo-id="r2">
    <div class="header-overlay">
      <h1>Platform</h1>
    </div>
  </div>

<!--
  <div class="overlay">
  </div> -->
{{/link-to}}
{{liquid-outlet}}
