
{{#link-to 'platform' class="full-width"}}
  <div class="black" data-logo-id="r2">
    {{fa-icon "sitemap"}}
    <h1 class="green">Unified Platform</h1>
    <p>1 User Name.  1 Password. 1 Billing Agreement. 1 User Agreemnt. 1 Privacy Policy.  Simplify. <br>
    Dashboard. eStore. eMail.<br>
    CRM. Profile. Content Curation <br>
    Blog. Calendar & Events. Todos <br>
    Builder.  Analytics. Messenger <br>
    </p>
  </div>
{{/link-to}}
{{liquid-outlet}}
