<div class="parent">
  {{#link-to 'platform.calendar-events' class="hero-container"}}
  <div class="r2-100"></div>
  <div class="overlay">
    <h2>Calendar Events</h2>
  </div>
  {{/link-to}}
</div>
<section class="parent">
  <div class="child whitebg"><h3>Screenshots</h3></div>
  <div class="child">2</div>
  <div class="child">3</div>
  <div class="child">4</div>
  <div class="child whitebg"><h3>Features</h3></div>
  <div class="child"><h4 class="white">Create Events</h4></div>
  <div class="child"><h4 class="white">Promote Ideas</h4></div>
  <div class="child"><h4 class="white">Manage Events</h4></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'platform.todos' class="hero-container"}}
  <button type="button" name="button">
    Todos
  </button>
{{/link-to}}
</h4>
