{{#link-to 'platform.calendar-events' class="hero-container"}}
  <div class="100-overlay">
    <h3>Calendar Events</h3>
  </div>
{{/link-to}}
<section class="parent">
  <div class="child"><img class="cal1"/></div>
  <div class="child"><h4>UI - Template Builder</h4></div>
  <div class="child"><h4>Community Themes + Plugins</h4></div>
  <div class="child"><h4>Color Scheme Generator</h4></div>
</section>

<section class="parent">
  <div class="child-cal">
    <h6>1</h6></div>
  <div class="child-cal">
    <h6>2</h6></div>
  <div class="child-cal">
    <h6>3</h6></div>
  <div class="child-cal">
    <h6>4</h6></div>
  <div class="child-cal">
    <h6>5</h6>
  </div>
  <div class="child-cal">
    <h6>6</h6>
  </div>
  <div class="child-cal">
    <h6>7</h6>
  </div>
  <div class="child-cal">
    <h6>8</h6>
  </div>
  <div class="child-cal">
    <h6>9</h6>
  </div>
  <div class="child-cal">
    <h6>10</h6>
  </div>
  <div class="child-cal">
    <h6>11</h6>
  </div>
  <div class="child-cal">
    <h6>12</h6>
  </div>
  <div class="child-cal">
    <h6>13</h6>
  </div>
  <div class="child-cal">
    <h6>14</h6>
  </div>
  <div class="child-cal">
    <h6>15</h6>
  </div>
  <div class="child-cal">
    <h6>16</h6>
  </div>
  <div class="child-cal">
    <h6>17</h6>
  </div>
  <div class="child-cal">
    <h6>18</h6>
  </div>
  <div class="child-cal">
    <h6>19</h6>
  </div>
  <div class="child-cal">
    <h6>20</h6>
  </div>
  <div class="child-cal">
    <h6>21</h6>
  </div>
  <div class="child-cal">
    <h6>22</h6>
  </div>
  <div class="child-cal">
    <h6>23</h6>
  </div>
  <div class="child-cal">
    <h6>24</h6>
  </div>
  <div class="child-cal">
    <h6>25</h6>
  </div>
  <div class="child-cal">
    <h6>26</h6>
  </div>
  <div class="child-cal">
    <h6>27</h6>
  </div>
  <div class="child-cal">
    <h6>28</h6>
  </div>
  <div class="child-cal">
    <h6>29</h6>
  </div>
  <div class="child-cal">
    <h6>30</h6>
  </div>
  <div class="child-cal">
    <h6>31</h6>
  </div><div class="child-cal">
  </div>
  <div class="child-cal">
  </div>
  <div class="child-cal">
  </div>
  <div class="child-cal">
  </div>
</section>
<section class="parent">
  <div class="child"><h4>Create Events</h4></div>
  <div class="child"><h4>Promote Ideas</h4></div>
  <div class="child"><h4>Manage Events</h4></div>
</section>

<h4 class="center">
{{#link-to 'platform.todos' class="hero-container"}}
  <button type="button" name="button">
    Todos
  </button>
{{/link-to}}
</h4>
