<div class="parent">
  {{#link-to 'why' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h1>Why eWebdesign.co?</h1>
  </div>
  {{/link-to}}

  {{#link-to 'platform' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h1>Platform</h1>
  </div>
  {{/link-to}}

  {{#link-to 'roadmap' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h1>Roadmap</h1>
  </div>
  {{/link-to}}
  {{#link-to 'store' class="child"}}
  <div class="r4"></div>
  <div class="overlay">
    <h1>Store</h1>
  </div>
  {{/link-to}}
  {{#link-to 'custom-services' class="child"}}
  <div class="r5"></div>
  <div class="overlay">
    <h1>Custom Services</h1>
  </div>
  {{/link-to}}
  {{#link-to 'next-steps' class="child"}}
  <div class="r6"></div>
  <div class="overlay">
    <h1>Next Steps</h1>
  </div>
  {{/link-to}}
</div>

{{liquid-outlet}}
