
<div class="parent">
  <!-- {{#link-to 'why' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h1>Why eWebdesign.co?</h1>
  </div>
  {{/link-to}} -->

  {{#link-to 'why' class="child"}}
  <div class="bg1">
    <div data-logo-id="r3" class="overlay">
      <h1>Why eWebdesign.co?</h1>
    </div>
  </div>
  {{/link-to}}

  {{#link-to 'platform' class="child"}}
  <div class="bg2"></div>
  <div data-logo-id="r2" class="overlay">
    <h1>Platform</h1>
  </div>
    <!-- <div class="overlay">
</div> -->
  {{/link-to}}

  {{#link-to 'store' class="child"}}
  <div class="bg4"></div>
  <div data-logo-id="r4" class="overlay">
    <h1>eCommerce Storefront</h1>
  </div>
  {{/link-to}}
  {{#link-to 'custom-services' class="child"}}
  <div class="bg5"></div>
  <div data-logo-id="r5" class="overlay">
    <h1>Custom Services</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap' class="child"}}
  <div class="bg3"></div>
  <div data-logo-id="r1" class="overlay">
    <h1>Roadmap</h1>
  </div>
  {{/link-to}}
  {{#link-to 'next-steps' class="child"}}
  <div class="bg6"></div>
  <div data-logo-id="r6" class="overlay">
    <h1>Next Steps</h1>
  </div>
  {{/link-to}}
  <!-- {{#link-to 'intro' class="child"}}
  <img class="big" src="assets/images/eweblogo.png" data-logo-id="eweb" alt="Me" />
  {{/link-to}}
  {{#link-to 'lost-grid' class="child"}}
  <img class="big" src="assets/images/eweblogo.png" data-logo-id="lost-grid" alt="Me" />
  {{/link-to}} -->
  <!-- {{#link-to 'gallery' class="child"}}
  <div class="full-width" data-id="gallery"></div>
  {{/link-to}} -->

</div>

{{liquid-outlet}}
