<!-- <div class="parent">
  {{#link-to 'next-steps.evaluation' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h1>Evaluation</h1>
  </div>
  {{/link-to}}

  {{#link-to 'next-steps.quotes' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h1>quote</h1>
  </div>
  {{/link-to}}

  {{#link-to 'next-steps.references' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h1>References</h1>
  </div>
  {{/link-to}}
  {{#link-to 'next-steps.beta-application' class="child"}}
  <div class="r4"></div>
  <div class="overlay">
    <h1>Beta Application</h1>
  </div>
  {{/link-to}}
</div> -->
<div class="underline">
  <h4 class="text-center">Beta Application</h4>
</div>
<div class="underline">
  <h4 class="text-center">Evaluation</h4>
</div>
<div class="underline">
  <h4 class="text-center">Quotes</h4>
</div>
<div class="underline">
  <h4 class="text-center">References</h4>
</div>
{{liquid-outlet}}
