<!-- <div class="parent">
  {{#link-to 'next-steps.evaluation' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h1>Evaluation</h1>
  </div>
  {{/link-to}}

  {{#link-to 'next-steps.quotes' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h1>quote</h1>
  </div>
  {{/link-to}}

  {{#link-to 'next-steps.references' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h1>References</h1>
  </div>
  {{/link-to}}
  {{#link-to 'next-steps.beta-application' class="child"}}
  <div class="r4"></div>
  <div class="overlay">
    <h1>Beta Application</h1>
  </div>
  {{/link-to}}
</div> -->

<h4>Beta Application</h4>
<h4>Evaluation</h4>
<h4>Quotes</h4>
<h4>References</h4>

{{liquid-outlet}}
