<header>
  <div class="third-link"></div>
  <div class="third-header">
    {{#link-to 'index'}}<img class="me" src="assets/images/eweblogo.png" data-logo-id="eweb" alt="Me"/>{{/link-to}}
  </div>
  <div class="third-link"></div>
</header>
{{liquid-outlet}}
<!-- <aside>
  {{#link-to 'why' class="ul1"}}Why?{{/link-to}}
  {{#link-to 'platform' class="ul1"}}Platform{{/link-to}}
  {{#link-to 'roadmap' class="ul1"}}Roadmap{{/link-to}}
  {{#link-to 'next-steps' class="ul1"}}Next Steps{{/link-to}}
</aside> -->
<!-- <footer>
  <div class="row">
    <div class="third">
      <span>Left</span>
    </div>
    <div class="third">
      <span>Center</span>
    </div>
    <div class="third">
      <span>Right</span>
    </div>
  </div>
</footer> -->
