<header>
  <div class="left">
    {{#link-to 'intro'}}<img class="me" src="assets/images/eweblogo.png" alt="Me" />{{/link-to}}
  </div>
  <div class="center">
    {{#link-to 'index'}}Overview{{/link-to}}

    {{#link-to 'why'}}Why?{{/link-to}}
    {{#link-to 'platform'}}Platform{{/link-to}}
    {{#link-to 'roadmap'}}Roadmap{{/link-to}}
    {{#link-to 'next-steps'}}Next Steps{{/link-to}}

  </div>
  <div class="right">
  </div>
</header>
{{liquid-outlet}}

<!-- <footer>
  <div class="row">
    <div class="third">
      <span>Left</span>
    </div>
    <div class="third">
      <span>Center</span>
    </div>
    <div class="third">
      <span>Right</span>
    </div>
  </div>
</footer> -->
