{{#link-to 'platform.builder' class="full-width"}}
  <div class="gray-200" data-logo-id="r50">
    {{fa-icon "wrench"}}
    <h1 class="green">Builder</h1>
  </div>
{{/link-to}}
<section class="parent">
  <div class="child"><h4>Modularized Plugins</h4><img class="builder1"/></div>
  <div class="child"><h4>Color Scheme Generator</h4></div>
  <div class="child"><h4>UI - Template Builder</h4></div>
</section>
<h4>
{{#link-to 'platform.analytics' class="hero-container"}}
  <button type="button" name="button">
    Analytics
  </button>
{{/link-to}}
</h4>
