<div class="parent">
  {{#link-to 'platform.builder' class="hero-container"}}
  <div class="r2-100"></div>
  <div class="overlay">
    <h2>Builder</h2>
  </div>
  {{/link-to}}
</div>
<section class="parent">
  <div class="child whitebg"><h3>Screenshots</h3></div>
  <div class="child">2</div>
  <div class="child">3</div>
  <div class="child">4</div>
  <div class="child whitebg"><h3>Features</h3></div>
  <div class="child"><h4 class="white">UI - Template Builder</h4></div>
  <div class="child"><h4 class="white">Community Themes + Plugins</h4></div>
  <div class="child"><h4 class="white">Color Scheme Generator</h4></div>
</section>
<h4>
{{#link-to 'platform.analytics' class="hero-container"}}
  <button type="button" name="button">
    Analytics
  </button>
{{/link-to}}
</h4>
