{{#link-to 'platform.builder' class="hero-container"}}
<div class="100-overlay">
  <h3>Builder</h3>
</div>
{{/link-to}}

<section class="parent">
  <div class="child"><h6>1</h6></div>
  <div class="child"><h6>2</h6></div>
  <div class="child"><h6>3</h6></div>
  <div class="child"><h6>4</h6></div>
  <div class="child"><h3>Features</h3></div>
  <div class="child"><h4>UI - Template Builder</h4></div>
  <div class="child"><h4>Community Themes + Plugins</h4></div>
  <div class="child"><h4>Color Scheme Generator</h4></div>
</section>
<h4>
{{#link-to 'platform.analytics' class="hero-container"}}
  <button type="button" name="button">
    Analytics
  </button>
{{/link-to}}
</h4>
