
<header>
  <ul>
    <li>{{#link-to 'lost-grid.waffle'}}Waffle{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.align'}}Align{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.center'}}Center{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.column'}}Column{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.cycle'}}Cycle{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.flex-container'}}Flex-Container{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.move'}}Move{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.offset'}}Offset{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.row'}}Row{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.nest'}}Nest{{/link-to}}</li>
    <li>{{#link-to 'lost-grid.vertical'}}Vertical{{/link-to}}</li>
  </ul>
</header>
<main>
{{outlet}}
</main>
