<h1>Basic Lost-Column Grid</h1>
<section class="parent">
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
</section>
{{outlet}}
