
{{#link-to 'platform.profile' class="full-width"}}
  <div class="gray-200" data-logo-id="r45">
    {{fa-icon "user"}}
    <h1 class="green">Profile</h1>
  </div>
{{/link-to}}

<section class="parent">
  <div class="child"><img class="profile-sm"/><h4>Make a Great Impression</h4></div>
  <div class="child"><h4>Connect with Friends, Family & Colleagues</h4></div>
  <div class="child"><h4>Multiple Templates & Customized Look</h4></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'platform.content-curation' class="hero-container"}}
  <button type="button" name="button">
  Content Curation
  </button>
{{/link-to}}
</h4>
