<div class="parent">

    {{#link-to 'platform.dashboard' class="child"}}
    <div class="r1" data-logo-id="r3"></div>
    <div class="overlay">
      <h1>Dashboard</h1>
    </div>
    {{/link-to}}


  {{#link-to 'platform.estore' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h1>eStore</h1>
  </div>
  {{/link-to}}

  {{#link-to 'platform.email' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h1>eMail</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.crm' class="child"}}
  <div class="r4"></div>
  <div class="overlay">
    <h1>CRM</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.profile' class="child"}}
  <div class="r5"></div>
  <div class="overlay">
    <h1>Profile</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.content-curation' class="child"}}
  <div class="r6"></div>
  <div class="overlay">
    <h1>Content Curation</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.blog' class="child"}}
  <div class="r7"></div>
  <div class="overlay">
    <h1>Blog</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.calendar-events' class="child"}}
  <div class="r8"></div>
  <div class="overlay">
    <h1>Calendar & Events</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.todos' class="child"}}
  <div class="r9"></div>
  <div class="overlay">
    <h1>Todos</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.builder' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h1>Builder</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.analytics' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h1>Analytics</h1>
  </div>
  {{/link-to}}
  {{#link-to 'platform.messenger' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h1>Messenger</h1>
  </div>
  {{/link-to}}
</div>
<h1>hello index</h1>
{{liquid-outlet}}
