{{#link-to 'platform.estore' class="hero-container"}}
<div class="100-overlay">
  <h3>eStore</h3>
</div>
{{/link-to}}


<section class="parent">
  <div class="child"><h4>Custom eCommerce Store Template</h4></div>
  <div class="child"><img id="s3"></div>
  <div class="child"><h4>Multiple Payment Types</h4></div>
  <div class="child whitebg"><img id="s5"></div>
  <div class="child"><h4>Infinite Scroll</h4></div>
  <div class="child"><img id="s6"></div>
  <div class="child"><h4>Admin Interface</h4></div>
  <div class="child"><img id="s7"></div>
  <div class="child"><h4>User Authentication & Authorization</h4></div>
  <div class="child"><img id="s8"></div>
  <div class="child"><h4>Unlimited Products</h4></div>
  <div class="child"><img id="s9"></div>
  <div class="child"><h4>Custom Shipping Options</h4></div>
  <div class="child whitebg"><img id="s4"></div>

</section>

{{liquid-outlet}}
<h4>
{{#link-to 'platform.email' class="hero-container"}}
  <button type="button" name="button">
    eMail
  </button>
{{/link-to}}
</h4>
