<div class="parent">
  {{#link-to 'platform.estore' class="hero-container"}}
  <div class="r2-100"></div>
  <div class="overlay">
    <h2>eStore</h2>
  </div>
  {{/link-to}}
</div>

<section class="parent">
  <div class="child"><h3>Screenshots</h3></div>
  <div class="child">2</div>
  <div class="child">3</div>
  <div class="child">4</div>
  <div class="child"><h3>Features</h3></div>
  <div class="child"><h4 class="white">Multiple Payment Types</h4></div>
  <div class="child"><h4 class="white">Custom eCommerce Store Template</h4></div>
  <div class="child"><h4 class="white">Infinite Scroll</h4></div>
  <div class="child"><h4 class="white">Custom Shipping Options</h4></div>
  <div class="child"><h4 class="white">Admin Interface</h4></div>
  <div class="child"><h4 class="white">User Authentication & Authorization</h4></div>
  <div class="child"><h4 class="white">Unlimited Products</h4></div>
</section>

{{liquid-outlet}}
<h4>
{{#link-to 'platform.email' class="hero-container"}}
  <button type="button" name="button">
    eMail
  </button>
{{/link-to}}
</h4>
