{{#link-to 'platform.estore' class="hero-container"}}
<div class="100-overlay">
  <h3>eStore</h3>
</div>
{{/link-to}}


<section class="parent">
  <div class="child whitebg"><h3>Screenshots</h3></div>
  <div class="child">2</div>
  <div class="child">3</div>
  <div class="child">4</div>
  <div class="child whitebg"><h3>Features</h3></div>
  <div class="child"><h4>Multiple Payment Types</h4></div>
  <div class="child"><h4>Custom eCommerce Store Template</h4></div>
  <div class="child"><h4>Infinite Scroll</h4></div>
  <div class="child"><h4>Custom Shipping Options</h4></div>
  <div class="child"><h4>Admin Interface</h4></div>
  <div class="child"><h4>User Authentication & Authorization</h4></div>
  <div class="child"><h4>Unlimited Products</h4></div>
</section>

{{liquid-outlet}}
<h4>
{{#link-to 'platform.email' class="hero-container"}}
  <button type="button" name="button">
    eMail
  </button>
{{/link-to}}
</h4>
