<h1>Flex Container</h1>
<div class="lost-flex-container-parent">
  <div class="lost-flex-child">A</div>
  <div class="lost-flex-child">B</div>
  <div class="lost-flex-child">C</div>
  <div class="lost-flex-child">D</div>
  <div class="lost-flex-child">E</div>
</div>
{{outlet}}
