{{#link-to 'platform.content-curation' class="full-width"}}
  <div class="gray-200" data-logo-id="r46">
    {{fa-icon "book"}}
    <h1 class="green">Content Curation</h1>
  </div>
{{/link-to}}

<section class="parent">
  <div class="child whitebg"><h4>Features</h4><h4>Peer-Editing</h4><h4>ScreenCasts</h4></div>
  <div class="child"><img class="content1"/><h4>SEO Suggestions</h4></div>
  <div class="child"><img class="content2" alt="" /><h4>Screenshots</h4></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'platform.blog' class="hero-container"}}
  <button type="button" name="button">
    Blog
  </button>
{{/link-to}}
</h4>
