
{{#link-to 'why.efficiency' class="hero-container"}}
<div class="r1-100"></div>
<div class="overlay">
  <h2>Efficiency</h2>
</div>
{{/link-to}}
<div class="break-20"></div>
<div class="center-parent">
  <div class="center-child-half"><h3>Unified</h3></div>
  <div class="center-child-half"><h3>Fragmented</h3></div>
  <div class="center-child-half"><h4>Frictionless</h4></div>
  <div class="center-child-half"><h4>Inefficient Integrations</h4></div>
  <div class="center-child-half"><h4>Control</h4></div>
  <div class="center-child-half"><h4>Limiting</h4></div>
  <div class="center-child-half"><h4>Secure</h4></div>
  <div class="center-child-half"><h4>20x Larger Surface Area</h4></div>
  <div class="center-child-half"><h4>Efficient</h4></div>
  <div class="center-child-half"><h4>Repetitive</h4></div>
  <div class="center-child-half"><h4>Agile</h4></div>
  <div class="center-child-half"><h4>Inconsistent</h4></div>
  <div class="center-child-half"><h4>PAYE</h4></div>
  <div class="center-child-half"><h4>Freemium & Complex Pricing</h4></div>
</div>
{{liquid-outlet}}
