
{{#link-to 'why.efficiency' class="hero-container"}}
<div class="r1-100"></div>
<div class="overlay">
  <h2>Efficiency</h2>
</div>
{{/link-to}}

<div class="center-parent">
  <div class="center-child-half"><h3>Unified</h3></div>
  <div class="center-child-half"><h3>Fragmented</h3></div>
  <div class="center-child-half"><h4>Frictionless</h4></div>
  <div class="center-child-half"><h4 class="red">Inefficient Integrations</h4></div>
  <div class="center-child-half"><h4>Control</h4></div>
  <div class="center-child-half"><h4 class="red">Limiting</h4></div>
  <div class="center-child-half"><h4>Secure</h4></div>
  <div class="center-child-half"><h4 class="red">20x Larger Surface Area</h4></div>
  <div class="center-child-half"><h4>Efficient</h4></div>
  <div class="center-child-half"><h4 class="red">Repetitive</h4></div>
  <div class="center-child-half"><h4>Agile</h4></div>
  <div class="center-child-half"><h4 class="red">Inconsistent</h4></div>
  <div class="center-child-half"><h4>PAYE</h4></div>
  <div class="center-child-half"><h4 class="red">Freemium & Complex Pricing</h4></div>
</div>
{{liquid-outlet}}
<h4>
{{#link-to 'why.cutting-edge-features' class="hero-container"}}
  <button type="button" name="button">
    Premium Features
  </button>
{{/link-to}}
</h4>
