<h1> Vertical Grid</h1>
<section class="vertical-parent">
  <div class="vertical-child">a</div>
  <div class="vertical-child">b</div>
  <div class="vertical-child">c</div>
  <div class="vertical-child">d</div>
  <div class="vertical-child">e</div>
  <div class="vertical-child">f</div>
  <div class="vertical-child">g</div>
  <div class="vertical-child">h</div>
</section>
{{outlet}}
