{{#link-to 'why.unified-platform' class="full-width"}}
  <div class="gray" data-logo-id="r31">
    {{fa-icon "dashcube"}}
    <h1 class="green">Unified Platform</h1>
    <p>Spend less time remembering long-lost logins or managing/deciphering cryptic pricing plans.  Expect symptoms of productivity and morale increases while doing reducing costs, improving the sales process and saving time.  Working smart > Working Hard. Take Back Control of Your Life.
      Admit it, Redundancy can be soul crushing.  Relish in the joy of reducing vendor dependencies.  It Just Makes Sense
      <br>Responsive | Reactive | Engaging
    </p>
  </div>
{{/link-to}}
<!-- <div class="bgmtn"></div> -->
<!-- {{#link-to 'why.unified-platform' tagName="div" class="full-page"}}
<div class="gray" data-logo-id="r31">
  <h2 class="subtitle">Unified Platform</h2>
</div>
{{/link-to}} -->

<section class="nest-parent">
  <div class="container container-bg">
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
  </div>
</section>
<section class="nest-parent">
  <h1>Fragmented Replication</h1>
  <div class="container">
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
  </div>
</section>
  <!-- {{#link-to 'why.unified-platform' tagName="div" class="child"}}
  <div class="layer-2-overlay">
    <h2>Unified Platform</h2>
  </div>
  {{/link-to}} -->
  <!-- <div class="child">
    <img class="sm1" alt="" />
  </div>
  <div class="child">
    <img class="sm2" alt="" />
  </div>
  <div class="child">
    <img class="sm3" alt="" />
  </div>
  <div class="child">
    <img class="sm4" alt="" />
  </div>
  <div class="child">
    <img class="sm5" alt="" />
  </div>
  <div class="child">
    <img class="sm6" alt="" />
  </div>
  <div class="child">
    <img class="sm7" alt="" />
  </div>
  <div class="child">
    <img class="sm8" alt="" />
  </div> -->


<h4>
{{#link-to 'why.efficiency' class="hero-container"}}
  <button type="button" name="button">
    Efficiency
  </button>
{{/link-to}}
</h4>
