{{#link-to 'why.unified-platform' class="hero-container"}}
<div class="100-overlay">
  <h3>Unified Platform</h3>
</div>
{{/link-to}}

<section class="parent">
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
</section>

<h4>
{{#link-to 'why.efficiency' class="hero-container"}}
  <button type="button" name="button">
    Efficiency
  </button>
{{/link-to}}
</h4>
