<div class="parent">
  {{#link-to 'why.unified-platform' class="hero-container"}}
  <div class="r1-100"></div>
  <div class="overlay">
    <h2>Unified Platform</h2>
  </div>
  {{/link-to}}
</div>
{{liquid-outlet}}
