{{#link-to 'why.unified-platform' class="hero-container"}}
<div class="r1-100"></div>
<div class="overlay">
  <h2>Unified Platform</h2>
</div>
{{/link-to}}

<main>
  <div class="center-parent">
    <div class="center-child-third">1</div>
    <div class="center-child-third">2</div>
    <div class="center-child-third">3</div>
    <div class="center-child-quarter"></div>
    <div class="center-child-quarter"></div>
    <div class="center-child-quarter"></div>
    <div class="center-child-quarter"></div>
  </div>
{{liquid-outlet}}
</main>

<h4>
{{#link-to 'why.efficiency' class="hero-container"}}
  <button type="button" name="button">
    Efficiency
  </button>
{{/link-to}}
</h4>
