<!-- <div class="bgmtn"></div> -->
{{#link-to 'why.unified-platform' tagName="div" class="full-page"}}
<div class="layer-2-overlay">
  <h2>Unified Platform</h2>
</div>
{{/link-to}}

<section class="nest-parent">
  <div class="container container-bg">
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
    <div class="child-nest-5">First Layer</div>
  </div>
</section>
<section class="nest-parent">
  <h1>Fragmented Replication</h1>
  <div class="container">
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
    <div class="child-nest-5">First Layer
      <div class="child-nest-b">Additional Login</div>
      <div class="child-nest-c">Additional Payment Plan</div>
    </div>
  </div>
</section>
  <!-- {{#link-to 'why.unified-platform' tagName="div" class="child"}}
  <div class="layer-2-overlay">
    <h2>Unified Platform</h2>
  </div>
  {{/link-to}} -->
  <!-- <div class="child">
    <img class="sm1" alt="" />
  </div>
  <div class="child">
    <img class="sm2" alt="" />
  </div>
  <div class="child">
    <img class="sm3" alt="" />
  </div>
  <div class="child">
    <img class="sm4" alt="" />
  </div>
  <div class="child">
    <img class="sm5" alt="" />
  </div>
  <div class="child">
    <img class="sm6" alt="" />
  </div>
  <div class="child">
    <img class="sm7" alt="" />
  </div>
  <div class="child">
    <img class="sm8" alt="" />
  </div> -->


<h4>
{{#link-to 'why.efficiency' class="hero-container"}}
  <button type="button" name="button">
    Efficiency
  </button>
{{/link-to}}
</h4>
