<div class="flex-container-parent">
  <div class="flex-container-child"></div>
  <div class="flex-container-child"></div>
  <div class="flex-container-child"></div>
  <div class="flex-container-child"></div>
  <div class="flex-container-child"></div>
  <div class="flex-container-child"></div>
</div>
{{outlet}}
