<section class="nest-full">
  <div class="child-nest-third">
  </div>
  <div class="child-nest-third">
  </div>
  <div class="child-nest-third">
  </div>
</section>
<section class="nest-parent">
  <h1>Zestin n Nestin</h1>

  <div class="child-nest-a">First Layer</div>
  <div class="child-nest-a">
    <div class="child-nest-b">Second Layer</div>
    <div class="child-nest-b">
      <div class="child-nest-c">Third Layer</div>
      <div class="child-nest-c">Third Layer</div>
    </div>
  </div>
</section>
<section class="nest-parent">
  <h1>Zestin n Nestin</h1>

  <div class="child-nest-a">First Layer</div>
  <div class="child-nest-a">
    <div class="child-nest-b">Second Layer</div>
    <div class="child-nest-b">
      <div class="child-nest-c">Third Layer</div>
      <div class="child-nest-c">Third Layer</div>
    </div>
  </div>
</section>
<section class="nest-parent">
  <h1>Whats up Nesting</h1>
  <div class="child-nest-a">First Layer</div>

  <div class="child-nest-a">
    <div class="child-nest-b">Second Layer</div>
    <div class="child-nest-b">
      <div class="child-nest-c">Third Layer</div>
      <div class="child-nest-c">Third Layer</div>
    </div>
  </div>
</section>
<section class="nest-parent">
  <h1>Zestin n Nestin</h1>

  <div class="child-nest-a">First Layer</div>
  <div class="child-nest-a">
    <div class="child-nest-b">Second Layer</div>
    <div class="child-nest-b">
      <div class="child-nest-c">Third Layer</div>
      <div class="child-nest-c">Third Layer</div>
    </div>
  </div>
</section>
{{outlet}}
