
{{#link-to 'platform.email' class="full-width"}}
  <div class="gray-200" data-logo-id="r43">
    {{fa-icon "envelope"}}
    <h1 class="green">eMail</h1>
  </div>
{{/link-to}}

<section class="parent">
  <div class="child whitebg"></div>
  <div class="child"><img class="blog-sm"></div>
  <div class="child"></div>
  <div class="child"><h4>e-Mail MKTG Campaign</h4></div>
  <div class="child whitebg"><h4>Auto-Replies</h4></div>
  <div class="child"></div>
  <div class="child"><h4>Delayed-Send</h4></div>
  <div class="child"></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'platform.crm' class="hero-container"}}
  <button type="button" name="button">
    CRM
  </button>
{{/link-to}}
</h4>
