{{#link-to 'custom-services.development' class="hero-container"}}
<div class="100-overlay">
  <h3>Development</h3>
</div>
{{/link-to}}

{{liquid-outlet}}

<div class="underline">
  <h4 class="text-center">Feature</h4>
</div>
<div class="underline">
  <h4 class="text-center">Platform</h4>
</div>
<div class="underline">
  <h4 class="text-center">Store</h4>
</div>
