{{#link-to 'platform.messenger' class="hero-container"}}
<div class="100-overlay">
  <h3>Messenger</h3>
</div>
{{/link-to}}

<section class="parent">
  <div class="child whitebg"><img class="msg1"/></div>
  <div class="child"><h4>Synchronous</h4></div>
  <div class="child"><h4>Group-Chat Creation</h4></div>
  <div class="child"><h4>Talk to Type</h4></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'roadmap.index' class="hero-container"}}
  <button type="button" name="button">
    Roadmap
  </button>
{{/link-to}}
</h4>
