{{#link-to 'platform.dashboard' class="full-width"}}
  <div class="gray-200" data-logo-id="r52">
    {{fa-icon "envelope"}}
    <h1 class="green">Messenger</h1>
  </div>
{{/link-to}}
<section class="parent">
  <div class="child whitebg"><img class="msg1"/></div>
  <div class="child"><h4>Synchronous</h4></div>
  <div class="child"><h4>Group-Chat Creation</h4></div>
  <div class="child"><h4>Talk to Type</h4></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'store.index' class="hero-container"}}
  <button type="button" name="button">
    Store
  </button>
{{/link-to}}
</h4>
