{{#link-to 'platform.todos' class="full-width"}}
  <div class="gray-200" data-logo-id="r49">
    {{fa-icon "edit"}}
    <h1 class="green">Todos</h1>
  </div>
{{/link-to}}

<section class="parent">
  <div class="child whitebg"><img class="todo1"/></div>
  <div class="child"><h4>Create & Manage Todo Lists</h4></div>
  <div class="child"><h4>Assign to others</h4></div>
  <div class="child"><h4>Set Reminders & Push Notifications</h4></div>
  <div class="child whitebg"><img class="r7"/></div>
  <div class="child"></div>
</section>
{{liquid-outlet}}
<h4>
{{#link-to 'platform.builder' class="hero-container"}}
  <button type="button" name="button">
    Builder
  </button>
{{/link-to}}
</h4>
