<div class="parent">
  {{#link-to 'custom-services.design' class="hero-container"}}
  <div class="r2-100"></div>
  <div class="overlay">
    <h2>Design</h2>
  </div>
  {{/link-to}}
</div>
{{liquid-outlet}}
