{{#link-to 'next-steps' class="full-width"}}
  <div class="black-250" data-logo-id="r6">
    {{fa-icon "mail-forward"}}
    <h1 class="green">Next Steps</h1>
    <p>We try our best to streamline the design process. </p>
  </div>
{{/link-to}}
{{liquid-outlet}}
