{{#link-to 'why' class="hero-container"}}
  <div class="r1" data-logo-id="r3"></div>
  <div class="overlay">
    <h1>Why eWebdesign.co?</h1>
  </div>
{{/link-to}}

<!-- <h2>eWebdesign is a unified platform that brings all the latest cutting-edge features</h2> -->

{{liquid-outlet}}
