{{#link-to 'why' class="full-width"}}
  <div class="black-250" data-logo-id="r3">
    {{fa-icon "question-circle"}}
    <h1 class="green">Why eWebdesign.co?</h1>
    <p>Responsive Design That Looks Great on All Screen Sizes.  Reactive User Experiences With an Instant Feedback Loop. Fast to Deliver, Fast To Load.</p>

  </div>
{{/link-to}}

<!-- <h2>eWebdesign is a unified platform that brings all the latest cutting-edge features</h2> -->

{{liquid-outlet}}
