<h1>Now Wafflit Out</h1>
<section class="waffle-parent">
  <div class="waffle-child slideUp">

  </div>
  <div class="waffle-child slideDown">

  </div>
  <div class="waffle-child slideRight">

  </div>
  <div class="waffle-child slideLeft">

  </div>
  <div class="waffle-child">

  </div>
  <div class="waffle-child">

  </div>
  <div class="waffle-child">

  </div>
</section>
{{outlet}}
