<div class="parent">
  {{#link-to 'platform.dashboard' class="hero-container"}}
  <div class="r2-100"></div>
  <div class="overlay">
    <h2>Dashboard</h2>
  </div>
  {{/link-to}}
</div>

<section class="parent">
  <div class="child"><h3>Screenshots</h3></div>
  <div class="child">2</div>
  <div class="child">3</div>
  <div class="child">4</div>
  <div class="child"><h3>Features</h3></div>
  <div class="child"><h4 class="white">Data-Visualization</h4></div>
  <div class="child"><h4 class="white">Customizeable Data / Component Inputs</h4></div>
  <div class="child"><h4 class="white">Slide Out Menus</h4></div>
</section>

<h4>
{{#link-to 'platform.estore' class="hero-container"}}
  <button type="button" name="button">
    eStore
  </button>
{{/link-to}}
</h4>
