{{#link-to 'platform.dashboard' class="hero-container"}}
<div class="100-overlay">
  <h3>Dashboard</h3>
</div>
{{/link-to}}


<section class="parent">
  <div class="child title"><h3>Screenshots</h3></div>
  <div class="child"><img class="dash1"></div>
  <div class="child"><img class="analytics1"></div>
  <div class="child"><img class="dash2"></div>
  <div class="child title"><h3>Features</h3></div>
  <div class="child"><h4>Data-Visualization</h4></div>
  <div class="child"><h4>Customizeable Data / Component Inputs</h4></div>
  <div class="child"><h4>Slide Out Menus</h4></div>
</section>

<h4>
{{#link-to 'platform.estore' class="hero-container"}}
  <button type="button" name="button">
    eStore
  </button>
{{/link-to}}
</h4>
