<!-- <div class="parent">
  {{#link-to 'roadmap.ad-campaign' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h1>Ad Campaign</h1>
  </div>
  {{/link-to}}

  {{#link-to 'roadmap.crowdfunding' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h1>Crowd Funding</h1>
  </div>
  {{/link-to}}

  {{#link-to 'roadmap.dynamic-settings-control' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h1>Dynamic Settings Control</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap.email-marketing' class="child"}}
  <div class="r4"></div>
  <div class="overlay">
    <h1>eMail Marketing</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap.forum' class="child"}}
  <div class="r5"></div>
  <div class="overlay">
    <h1>Forum</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap.keyword-research' class="child"}}
  <div class="r6"></div>
  <div class="overlay">
    <h1>Keyword Research</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap.on-page-seo' class="child"}}
  <div class="r7"></div>
  <div class="overlay">
    <h1>On-Page SEO</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap.push-notifications' class="child"}}
  <div class="r8"></div>
  <div class="overlay">
    <h1>Push Notifications</h1>
  </div>
  {{/link-to}}
  {{#link-to 'roadmap.team-manager' class="child"}}
  <div class="r9"></div>
  <div class="overlay">
    <h1>Team Manager</h1>
  </div>
  {{/link-to}}
</div> -->
<section class="vertical-parent">
  <div class="vertical-child"><h3>Ad Campaign</h3></div>
  <div class="vertical-child"><h3>Crowdfunding</h3></div>
  <div class="vertical-child"><h3>Dynamic Settings Control</h3></div>
  <div class="vertical-child"><h3>Email Marketing</h3></div>
  <div class="vertical-child"><h3>Forum</h3></div>
  <div class="vertical-child"><h3>Keyword Research</h3></div>
  <div class="vertical-child"><h3>On-Page SEO</h3></div>
  <div class="vertical-child"><h3>Push Notifications</h3></div>
  <div class="vertical-child"><h3>Team Manager</h3></div>
</section>












{{liquid-outlet}}
