
<div class="parent">
  {{#link-to 'custom-services.design' class="child"}}
  <div class="design1"></div>
  <div class="overlay">
    <h1>Design</h1>
  </div>
  {{/link-to}}

  {{#link-to 'custom-services.marketing' class="child"}}
  <div class="mktg2"></div>
  <div class="overlay">
    <h1>Marketing</h1>
  </div>
  {{/link-to}}

  {{#link-to 'custom-services.development' class="child"}}
  <div class="dev2"></div>
  <div class="overlay">
    <h1>Development</h1>
  </div>
  {{/link-to}}
  {{#link-to 'custom-services.networking' class="child"}}
  <div class="nw2"></div>
  <div class="overlay">
    <h1>Networking</h1>
  </div>
  {{/link-to}}
  {{#link-to 'custom-services.site-search' class="child"}}
  <div class="ss1"></div>
  <div class="overlay">
    <h1>Site Search</h1>
  </div>
  {{/link-to}}
  {{#link-to 'custom-services.security-check' class="child"}}
  <div class="sc1"></div>
  <div class="overlay">
    <h1>Security Check</h1>
  </div>
  {{/link-to}}
</div>
 {{liquid-outlet}}
