
<div class="parent">
  <!-- {{#link-to 'why.best-of-breed' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h2>Best of Breed</h2>
  </div>
  {{/link-to}} -->

  <!-- {{#link-to 'why.pareto-principle' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h2>Pareto Principle</h2>
  </div>
  {{/link-to}} -->

  <!-- {{#link-to 'why.privacy-control' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h2>Privacy & Control</h2>
  </div>
  {{/link-to}} -->
  {{#link-to 'why.unified-platform' class="child"}}
  <div class="r4"></div>
  <div class="overlay">
    <h2>Unified Platform</h2>
  </div>
  {{/link-to}}
  
  {{#link-to 'why.efficiency' class="child"}}
  <div class="r6"></div>
  <div class="overlay">
    <h2>Efficiency</h2>
  </div>
  {{/link-to}}

  {{#link-to 'why.cutting-edge-features' class="child"}}
  <div class="r5"></div>
  <div class="overlay">
    <h2>Cutting Edge Features</h2>
  </div>
  {{/link-to}}

  <!-- {{#link-to 'why.pay-it-forward' class="child"}}
  <div class="r7"></div>
  <div class="overlay">
    <h2>Pay It Forward</h2>
  </div>
  {{/link-to}}
  {{#link-to 'why.synergy' class="child"}}
  <div class="r8"></div>
  <div class="overlay">
    <h2>Synergy</h2>
  </div>
  {{/link-to}}
  {{#link-to 'why.good-vibes' class="child"}}
  <div class="r9"></div>
  <div class="overlay">
    <h2>Good Vibes</h2>
  </div>
  {{/link-to}} -->
</div>
