
<div class="parent">
  {{#link-to 'why.unified-platform' class="child black"}}
    <div data-logo-id="r31">
      {{fa-icon "photo"}}
      <h1 class="green">Unified Platform</h1>
      <p>The less time you spend remembering long-lost logins or managing/deciphering cryptic pricing plans productivity and morale increases while spending less time.  Working smart > Working Hard. Take Back Control of Your Life.
        Admit it, Redundancy can be soul crushing.  Relish in the joy of reducing vendor dependencies.  It Just Makes Sense
        <br>Responsive | Reactive | Engaging
      </p>
    </div>
  {{/link-to}}


  {{#link-to 'why.efficiency' class="child black"}}
  <div data-logo-id="r32">
    {{fa-icon "photo"}}
    <h1 class="green">Efficiency</h1>
    <p>Elimination of trivial decisions is the key ingredient to efficiency and often success.  Reduce <a href src="https://en.wikipedia.org/wiki/Parkinson's_law_of_triviality">Bikeshedding</a> with intelligent automation baked in and experience the infinite possibilities that are enabled by a seamless integration to an already superior user experience. eWebDesign adopts a age-old coding philosophy of DRY (Don't Repeat Yourself). Less Configuration, More Implementation.
    </p>
  </div>
  {{/link-to}}

  {{#link-to 'why.cutting-edge-features' class="child black"}}
  <div data-logo-id="r33">
    {{fa-icon "photo"}}
    <h1 class="green">Cutting Edge Features</h1>
    <p>
New Javascript Single Page Apps<br>
Elegent Transitions | explode, slide & fade <br>
Fully Responsive to various devices & screens<br>
Infinite Scroll for various content<br>
Big Data Dashboard Informs & Organizes<br>
SEO Steps for best practice on-page opt.<br>
Fastboot Tech reduces initial load time by 10x<br>
Containers adds mobility and efficiency<br>
Web Components improve app architecture.<br>
Crowdfunding | Ad-Campaigns<br>
    </p>
  </div>
  {{/link-to}}
</div>
  <!-- {{#link-to 'why.best-of-breed' class="child black"}}
  <div class="r1"></div>
  <div class="overlay">
    <h2>Best of Breed</h2>
  </div>
  {{/link-to}} -->

  <!-- {{#link-to 'why.pareto-principle' class="child"}}
  <div class="r2"></div>
  <div class="overlay">
    <h2>Pareto Principle</h2>
  </div>
  {{/link-to}} -->

  <!-- {{#link-to 'why.privacy-control' class="child"}}
  <div class="r3"></div>
  <div class="overlay">
    <h2>Privacy & Control</h2>
  </div>
  {{/link-to}} -->

  <!-- {{#link-to 'why.pay-it-forward' class="child"}}
  <div class="r7"></div>
  <div class="overlay">
    <h2>Pay It Forward</h2>
  </div>
  {{/link-to}}
  {{#link-to 'why.synergy' class="child"}}
  <div class="r8"></div>
  <div class="overlay">
    <h2>Synergy</h2>
  </div>
  {{/link-to}}
  {{#link-to 'why.good-vibes' class="child"}}
  <div class="r9"></div>
  <div class="overlay">
    <h2>Good Vibes</h2>
  </div>
  {{/link-to}} -->
