<h1>Center Some Shit!</h1>

<div class="center-parent">
  <div class="center-child-third">1</div>
  <div class="center-child-third">2</div>
  <div class="center-child-third">3</div>
  <div class="center-child-quarter"></div>
  <div class="center-child-quarter"></div>
  <div class="center-child-quarter"></div>
  <div class="center-child-quarter"></div>
</div>
{{outlet}}
