<div class="parent">
  {{#link-to '' class="child"}}
  <div class="r1"></div>
  <div class="overlay">
    <h2>Development</h2>
  </div>
  {{/link-to}}
</div>
<h4>Feature</h4>
<h4>Platform</h4>
<h4>Store</h4>
{{liquid-outlet}}
